body {
    margin: 1em 20px;
    font: 20px serif;
    text-align: center;
    background: #e4e0ff;
}

header {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
}

.title {
    display: flex;
    gap: 20px;
    align-items: center;
}

.tagline {
    font-style: italic;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
}

footer {
    margin-top: 2em;
}

main {
    display: flex;
    gap: 20px;
}

main > div {
    display: flex;
    flex-direction: column;
}

.lhs {
    flex: 0;
}

.rhs {
    flex: 1 1;
}

h1 {
    font-size: inherit;
    margin: 0;
    display: flex;
    justify-content: center;
}

textarea {
    font: 20px serif;
    width: 30vw;
    min-width: 150px;
    max-width: 80vw;
    min-height: 500px;
    margin: 0;
    box-sizing: border-box;
}

textarea,
canvas {
    border: 1px solid black;
}

canvas {
    flex: 1 1 0;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }

    textarea {
        resize: vertical;
        width: 100% !important;
        min-width: initial;
        max-width: 100%;
        min-height: 200px;
    }

    canvas {
        flex: initial;
    }
}

@media only screen and (max-width: 400px) {
    body {
        margin: 1em 10px;
    }
}
